# Maven
target/
.m2/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.settings/
.project
.classpath
.factorypath

# OS-specific
.DS_Store
Thumbs.db

# Vaadin
node_modules/
frontend/generated/
package.json
package-lock.json
webpack.config.js
webpack.generated.js
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts
sw.js
sw.generated.js
